<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('header'); %>
  <title>Cadastro de Novo Usuário</title>
</head>
<body>
  <div class="container w-100 p-3 d-flex justify-content-center flex-column align-items-center">
  <h1>Registre-se</h1>
  <% if(message) { %>
    <% message.errors.forEach( function(error){ %>
    <p>
      <label style="color:Red">O campo <%= message.field%> <%= error %></label>
    </p>
    <%})%>
  <%}%>
  <% if(message) { %>
    <% messages.forEach( function(item){ %>
    <p>
      <label style="color:Red"><%= item%></label>
    </p>
    <%})%>
  <%}%>
  <form action="" method="post">
      <div class="form-group">
      <label for="name">Nome completo</label>
      <input type="text" name="name" class="form-control" required id="name" placeholder="Nome Completo">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" class="form-control" required id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="githubUsername">github username</label>
      <input type="text" name="githubUsername" class="form-control" required id="githubUsername" placeholder="github username">
    </div>
    <div class="form-group">
      <label for="value">Valor da hora</label>
      <input type="number" name="value" class="form-control" required id="value" placeholder="Valor da hora">
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" name="password" class="form-control" required id="password" placeholder="Sua senha">
    </div>
   
    <button type="submit" class="btn btn-primary m-2 btn-lg btn-block">Registrar-se</button>
  </form>
  <a class="btn btn-light m-3" href="/login">Fazer login</a>
  </div>
  <%- include('footer'); %>
</body>
</html>